:root {
  --vp-c-brand-1: #1B6CFC;
  --vp-c-brand-2: #1B6CFC;
}
.avatar {
  border-radius: 50%;
  width: 88px; /* Set the width of the avatar */
  height: 88px; /* Set the height of the avatar */
  object-fit: cover; /* Ensure the image covers the entire area */
}
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}